/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.rspec_status
/Gemfile.lock
/*.gem
/.rubocop-https--*
/.rubocop-cache/

# Environment variables with actual credentials
.env.test
.env.local
.env*.local
