---
http_interactions:
- request:
    method: post
    uri: https://api.cert.tastyworks.com/sessions
    body:
      encoding: UTF-8
      string: '{"login":"test_user","remember-me":false,"password":"<PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"code":"invalid_credentials","message":"Invalid login, please
        check your username and password. Unique customer support identifier: 3e0ee09e3635d8035a8df4da23caeac2"}}'
  recorded_at: Thu, 07 Aug 2025 00:32:13 GMT
- request:
    method: post
    uri: https://api.cert.tastyworks.com/sessions
    body:
      encoding: UTF-8
      string: '{"login":"test_user","remember-me":false,"password":"<PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"code":"invalid_credentials","message":"Invalid login, please
        check your username and password. Unique customer support identifier: 9dc695504014db8c7df7a88cb1631ed9"}}'
  recorded_at: Thu, 07 Aug 2025 00:32:14 GMT
recorded_with: VCR 6.3.1
